VITE_SUPABASE_URL=https://dfihlbbnwjmozkkdwago.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Pnq4IGoKLv6mCtstFR7GGA_tVGWxvJ0
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=agkkwa333@gmail.com
SMTP_PASS=your-google-app-password
